financial-transaction-sa1/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "financial-transaction-sa1"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"financial-transaction-sa1-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'financial-transaction-sa1-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:financial-transaction-sa1.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://financialtransactiondt.dfs.core.windows.net/"
		},
		"User_dataHTTP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://media.githubusercontent.com/media/Shreyshah0812/Financial-Transactions-azure-Data-Engineering/refs/heads/master/users_data.csv"
		},
		"cards_dataHTTP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://media.githubusercontent.com/media/Shreyshah0812/Financial-Transactions-azure-Data-Engineering/refs/heads/master/cards_data.csv"
		},
		"financial-transaction-sa1-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://financialtransactiondt.dfs.core.windows.net"
		},
		"mcc_codesHTTP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://github.com/Shreyshah0812/Financial-Transactions-azure-Data-Engineering/raw/refs/heads/master/mcc_codes.json"
		},
		"transactionHTTP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://media.githubusercontent.com/media/Shreyshah0812/Financial-Transactions-azure-Data-Engineering/refs/heads/master/transactions_data.csv"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/Data-Ingestion')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Transactions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "transaction",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Userdata",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Transactions",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Userdata",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "User_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "cards_data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Userdata",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cards_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "cards_datasink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "mcc_codes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "cards_data",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "mcc_codes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "mcc_codessink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/transaction')]",
				"[concat(variables('workspaceId'), '/datasets/ADLS')]",
				"[concat(variables('workspaceId'), '/datasets/Userdata')]",
				"[concat(variables('workspaceId'), '/datasets/User_data')]",
				"[concat(variables('workspaceId'), '/datasets/cards_data')]",
				"[concat(variables('workspaceId'), '/datasets/cards_datasink')]",
				"[concat(variables('workspaceId'), '/datasets/mcc_codes')]",
				"[concat(variables('workspaceId'), '/datasets/mcc_codessink')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ADLS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "transaction.csv",
						"folderPath": "raw-data",
						"fileSystem": "financial-transaction-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/User_data')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "User_data",
						"folderPath": "raw-data",
						"fileSystem": "financial-transaction-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Userdata')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "User_dataHTTP",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/User_dataHTTP')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/cards_data')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cards_dataHTTP",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/cards_dataHTTP')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/cards_datasink')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "cards_data.csv",
						"folderPath": "raw-data",
						"fileSystem": "financial-transaction-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/mcc_codes')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "mcc_codesHTTP",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/mcc_codesHTTP')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/mcc_codessink')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "mcc_codes.csv",
						"folderPath": "raw-data",
						"fileSystem": "financial-transaction-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/transaction')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "transactionHTTP",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/transactionHTTP')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/User_dataHTTP')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('User_dataHTTP_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/cards_dataHTTP')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('cards_dataHTTP_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/financial-transaction-sa1-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('financial-transaction-sa1-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/financial-transaction-sa1-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('financial-transaction-sa1-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/mcc_codesHTTP')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('mcc_codesHTTP_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/transactionHTTP')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('transactionHTTP_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/transactions_sql_script')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "SELECT TOP (100) [id]\n,[date]\n,[client_id]\n,[card_id]\n,[amount]\n,[use_chip]\n,[merchant_id]\n,[merchant_city]\n,[merchant_state]\n,[zip]\n,[mcc]\n,[errors]\n FROM [financialdb].[dbo].[transactions_transformed];\n\n\n --Total transactions & revenue\nSELECT\n    COUNT(*) AS total_transactions,\n    SUM(amount) AS total_revenue\nFROM [financialdb].[dbo].[transactions_transformed];\n\n--Average transaction value\n\nSELECT\n    AVG(amount) AS avg_transaction_value\nFROM [financialdb].[dbo].[transactions_transformed];\n\n--Top 10 customers by spend\n\nSELECT TOP 10\n    client_id,\n    SUM(amount) AS total_spend\nFROM [financialdb].[dbo].[transactions_transformed]\nGROUP BY client_id\nORDER BY total_spend DESC;\n\n--Transactions by payment type (chip vs swipe)\n\nSELECT\n    use_chip,\n    COUNT(*) AS txn_count,\n    SUM(amount) AS revenue\nFROM [financialdb].[dbo].[transactions_transformed]\nGROUP BY use_chip;\n\n\n--Monthly revenue trend\n\nSELECT\n    DATEFROMPARTS(YEAR(date), MONTH(date), 1) AS month,\n    COUNT(*) AS txns,\n    SUM(amount) AS revenue\nFROM [financialdb].[dbo].[transactions_transformed]\nGROUP BY DATEFROMPARTS(YEAR(date), MONTH(date), 1)\nORDER BY month;\n\n--Merchant performance\n\nSELECT TOP 10\n    merchant_id,\n    merchant_state,\n    COUNT(*) AS txns,\n    SUM(amount) AS revenue\nFROM [financialdb].[dbo].[transactions_transformed]\nGROUP BY merchant_id, merchant_state\nORDER BY revenue DESC;\n\n--Spending by category (MCC)\n\nSELECT\n    mcc,\n    COUNT(*) AS txns,\n    SUM(amount) AS revenue,\n    AVG(amount) AS avg_ticket\nFROM [financialdb].[dbo].[transactions_transformed]\nGROUP BY mcc\nORDER BY revenue DESC;\n\n--Error / decline rate\n\nSELECT\n    errors,\n    COUNT(*) AS occurrences\nFROM [financialdb].[dbo].[transactions_transformed]\nGROUP BY errors\nORDER BY occurrences DESC;\n\n\n--RFM-style customer analysis\n\nSELECT\n    client_id,\n    COUNT(*) AS txn_count,\n    SUM(amount) AS total_spend,\n    AVG(amount) AS avg_ticket,\n    MAX(date) AS last_txn\nFROM [financialdb].[dbo].[transactions_transformed]\nGROUP BY client_id\nORDER BY total_spend DESC;\n\n--High-risk spending spikes (anomaly detection)\n\nWITH stats AS (\n    SELECT\n        id,\n        AVG(amount) AS avg_amt,\n        STDEV(amount) AS std_amt\n    FROM [financialdb].[dbo].[transactions_transformed]\n    GROUP BY id\n)\nSELECT\n    t.*\nFROM [financialdb].[dbo].[transactions_transformed] t\nJOIN stats s\n    ON t.id = s.id\nWHERE s.std_amt IS NOT NULL\n  AND t.amount > s.avg_amt + 3 * s.std_amt\nORDER BY t.amount DESC;\n\n\n--Transaction velocity (burst spending)\n\nSELECT\n    card_id,\n    DATEADD(hour, DATEDIFF(hour, 0, date), 0) AS hour_bucket,\n    COUNT(*) AS txns,\n    SUM(amount) AS spend\nFROM [financialdb].[dbo].[transactions_transformed]\nGROUP BY card_id, DATEADD(hour, DATEDIFF(hour, 0, date), 0)\nHAVING COUNT(*) >= 5\nORDER BY txns DESC;\n\n--Customer dependency on single merchant\n\nWITH m AS (\n    SELECT\n        client_id,\n        merchant_id,\n        SUM(amount) AS spend\n    FROM [financialdb].[dbo].[transactions_transformed]\n    GROUP BY client_id, merchant_id\n),\nt AS (\n    SELECT\n        client_id,\n        SUM(spend) AS total_spend,\n        MAX(spend) AS max_merchant_spend\n    FROM m\n    GROUP BY client_id\n)\nSELECT\n    client_id,\n    max_merchant_spend / total_spend AS merchant_dependency_ratio\nFROM t\nORDER BY merchant_dependency_ratio DESC;\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "financialdb",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/user_data_sql_script')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "SELECT TOP (100) [id]\n,[current_age]\n,[retirement_age]\n,[birth_year]\n,[birth_month]\n,[gender]\n,[address]\n,[latitude]\n,[longitude]\n,[per_capita_income]\n,[yearly_income]\n,[total_debt]\n,[credit_score]\n,[num_credit_cards]\n FROM [financialdb].[dbo].[user_data_transformed]\n\n--Count total customers\n\nSELECT COUNT(*) AS total_customers\nFROM [financialdb].[dbo].[user_data_transformed];\n\n--List customers older than 60\n\nSELECT id, current_age, gender\nFROM [financialdb].[dbo].[user_data_transformed]\nWHERE current_age > 60;\n\n\n--Customers with high credit score (>750)\n\nSELECT id, credit_score, yearly_income\nFROM [financialdb].[dbo].[user_data_transformed]\nWHERE credit_score > 750\nORDER BY credit_score DESC;\n\n--Distinct genders\n\n\nSELECT DISTINCT gender\nFROM [financialdb].[dbo].[user_data_transformed];\n\n\n--Average income by gender\n\nSELECT\n    gender,\n    AVG(yearly_income) AS avg_income\nFROM [financialdb].[dbo].[user_data_transformed]\nGROUP BY gender;\n\n\n--Average credit score by age group\n\nSELECT\n    CASE\n        WHEN current_age < 30 THEN 'Under 30'\n        WHEN current_age BETWEEN 30 AND 50 THEN '30-50'\n        ELSE 'Above 50'\n    END AS age_group,\n    AVG(credit_score) AS avg_credit_score\nFROM [financialdb].[dbo].[user_data_transformed]\nGROUP BY\n    CASE\n        WHEN current_age < 30 THEN 'Under 30'\n        WHEN current_age BETWEEN 30 AND 50 THEN '30-50'\n        ELSE 'Above 50'\n    END;\n\n--Total debt vs income (Debt Burden)\n\nSELECT\n    id,\n    yearly_income,\n    total_debt,\n    (total_debt * 1.0 / yearly_income) AS debt_to_income_ratio\nFROM [financialdb].[dbo].[user_data_transformed]\nWHERE yearly_income > 0;\n\n--Customers with zero debt\n\n\nSELECT id, yearly_income, credit_score\nFROM [financialdb].[dbo].[user_data_transformed]\nWHERE total_debt = 0;\n\n\n--Credit Risk Segmentation (Very Important)\n\nSELECT\n    id,\n    credit_score,\n    total_debt,\n    yearly_income,\n    CASE\n        WHEN credit_score >= 750 AND total_debt < yearly_income THEN 'Low Risk'\n        WHEN credit_score BETWEEN 650 AND 749 THEN 'Medium Risk'\n        ELSE 'High Risk'\n    END AS risk_category\nFROM [financialdb].[dbo].[user_data_transformed];\n\n\n--Years left until retirement\n\nSELECT\n    id,\n    current_age,\n    retirement_age,\n    (retirement_age - current_age) AS years_to_retirement\nFROM [financialdb].[dbo].[user_data_transformed];\n\n--High income but low credit score (Red Flag)\n\nSELECT\n    id,\n    yearly_income,\n    credit_score,\n    total_debt\nFROM [financialdb].[dbo].[user_data_transformed]\nWHERE yearly_income > 80000\n  AND credit_score < 650;\n\n\n--Geographic financial analysis\n\nSELECT\n    ROUND(latitude, 0) AS lat_zone,\n    ROUND(longitude, 0) AS lon_zone,\n    AVG(yearly_income) AS avg_income\nFROM [financialdb].[dbo].[user_data_transformed]\nGROUP BY\n    ROUND(latitude, 0),\n    ROUND(longitude, 0);\n\n--Credit cards vs credit score relationship\n\n\nSELECT\n    num_credit_cards,\n    AVG(credit_score) AS avg_credit_score\nFROM [financialdb].[dbo].[user_data_transformed]\nGROUP BY num_credit_cards\nORDER BY num_credit_cards;\n\n--Top 5 financially strongest customers\n\nSELECT TOP 5\n    id,\n    yearly_income,\n    credit_score,\n    total_debt\nFROM [financialdb].[dbo].[user_data_transformed]\nORDER BY credit_score DESC, yearly_income DESC;\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "financialdb",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/financialdb')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "financialdb",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://financial-transaction-data@financialtransactiondt.dfs.core.windows.net/financialdb",
								"Properties": {
									"FormatType": "csv",
									"LinkedServiceName": "financial-transaction-sa1-WorkspaceDefaultStorage"
								}
							}
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "cards_data_transformed",
							"EntityType": "TABLE",
							"Namespace": {
								"DatabaseName": "financialdb"
							},
							"Description": "",
							"TableType": "EXTERNAL",
							"Origin": {
								"Type": "SPARK"
							},
							"StorageDescriptor": {
								"Columns": [
									{
										"Name": "id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "client_id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "card_brand",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "card_type",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "card_number",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "expires",
										"OriginDataTypeName": {
											"TypeName": "date",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"DateFormat": "YYYY-MM-DD",
												"HIVE_TYPE_STRING": "date"
											}
										}
									},
									{
										"Name": "cvv",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "has_chip",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "num_cards_issued",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "credit_limit",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "acct_open_date",
										"OriginDataTypeName": {
											"TypeName": "date",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"DateFormat": "YYYY-MM-DD",
												"HIVE_TYPE_STRING": "date"
											}
										}
									},
									{
										"Name": "year_pin_last_changed",
										"OriginDataTypeName": {
											"TypeName": "date",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"DateFormat": "YYYY-MM-DD",
												"HIVE_TYPE_STRING": "date"
											}
										}
									},
									{
										"Name": "card_on_dark_web",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://financial-transaction-data@financialtransactiondt.dfs.core.windows.net/transformed-data/cards_data_transformed/part-00000-tid-819323885594652519-ac4eb869-127e-4769-8f90-ab9f23e125fa-102-1-c000.csv",
										"delimiter": ",",
										"firstRowAsHeader": "true",
										"multiLine": "false",
										"serialization.format": "1",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "true"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://financial-transaction-data@financialtransactiondt.dfs.core.windows.net/transformed-data/cards_data_transformed/part-00000-tid-819323885594652519-ac4eb869-127e-4769-8f90-ab9f23e125fa-102-1-c000.csv",
									"Properties": {
										"LinkedServiceName": "financial-transaction-sa1-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"IsStoredAsSubdirectories": false
							},
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv"
							},
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "mcc_codes_transformed",
							"EntityType": "TABLE",
							"Namespace": {
								"DatabaseName": "financialdb"
							},
							"Description": "",
							"TableType": "EXTERNAL",
							"Origin": {
								"Type": "SPARK"
							},
							"StorageDescriptor": {
								"Columns": [
									{
										"Name": "Mcc_codes",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "descrpition",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://financial-transaction-data@financialtransactiondt.dfs.core.windows.net/transformed-data/mcc_codes_transformed/part-00000-tid-8732572470748092195-33d80a1d-40bd-407c-ae96-5058fe88be22-13-1-c000.csv",
										"delimiter": ",",
										"firstRowAsHeader": "true",
										"multiLine": "false",
										"serialization.format": "1",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "true"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://financial-transaction-data@financialtransactiondt.dfs.core.windows.net/transformed-data/mcc_codes_transformed/part-00000-tid-8732572470748092195-33d80a1d-40bd-407c-ae96-5058fe88be22-13-1-c000.csv",
									"Properties": {
										"LinkedServiceName": "financial-transaction-sa1-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"IsStoredAsSubdirectories": false
							},
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv"
							},
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "transactions_transformed",
							"EntityType": "TABLE",
							"Namespace": {
								"DatabaseName": "financialdb"
							},
							"Description": "",
							"TableType": "EXTERNAL",
							"Origin": {
								"Type": "SPARK"
							},
							"StorageDescriptor": {
								"Columns": [
									{
										"Name": "id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "date",
										"OriginDataTypeName": {
											"TypeName": "timestamp",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"TimestampFormat": "YYYY-MM-DD HH:MM:SS.fffffffff",
												"HIVE_TYPE_STRING": "timestamp"
											}
										}
									},
									{
										"Name": "client_id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "card_id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "amount",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "use_chip",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "merchant_id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "merchant_city",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "merchant_state",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "zip",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "mcc",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "errors",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://financial-transaction-data@financialtransactiondt.dfs.core.windows.net/transformed-data/transactions_transformed/part-00000-tid-6741079480897189464-c425683e-3c02-41e9-a79e-7edde1a4f798-55-1-c000.csv",
										"delimiter": ",",
										"firstRowAsHeader": "true",
										"multiLine": "false",
										"serialization.format": "1",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "true"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://financial-transaction-data@financialtransactiondt.dfs.core.windows.net/transformed-data/transactions_transformed/part-00000-tid-6741079480897189464-c425683e-3c02-41e9-a79e-7edde1a4f798-55-1-c000.csv",
									"Properties": {
										"LinkedServiceName": "financial-transaction-sa1-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"IsStoredAsSubdirectories": false
							},
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv"
							},
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "user_data_transformed",
							"EntityType": "TABLE",
							"Namespace": {
								"DatabaseName": "financialdb"
							},
							"Description": "",
							"TableType": "EXTERNAL",
							"Origin": {
								"Type": "SPARK"
							},
							"StorageDescriptor": {
								"Columns": [
									{
										"Name": "id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "current_age",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "retirement_age",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "birth_year",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "birth_month",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "gender",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "address",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "latitude",
										"OriginDataTypeName": {
											"TypeName": "double",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "double"
											}
										}
									},
									{
										"Name": "longitude",
										"OriginDataTypeName": {
											"TypeName": "double",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "double"
											}
										}
									},
									{
										"Name": "per_capita_income",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "yearly_income",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "total_debt",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "credit_score",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "num_credit_cards",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									}
								],
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://financial-transaction-data@financialtransactiondt.dfs.core.windows.net/transformed-data/user_data_transformed/part-00000-tid-7889648880700268911-ef544f6e-309a-4876-8df5-8f9272b8870c-104-1-c000.csv",
										"delimiter": ",",
										"firstRowAsHeader": "true",
										"multiLine": "false",
										"serialization.format": "1",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "true"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://financial-transaction-data@financialtransactiondt.dfs.core.windows.net/transformed-data/user_data_transformed/part-00000-tid-7889648880700268911-ef544f6e-309a-4876-8df5-8f9272b8870c-104-1-c000.csv",
									"Properties": {
										"LinkedServiceName": "financial-transaction-sa1-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"IsStoredAsSubdirectories": false
							},
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv"
							},
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/cards_data_sql_script')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "SELECT TOP (100) [id]\n,[client_id]\n,[card_brand]\n,[card_type]\n,[card_number]\n,[expires]\n,[cvv]\n,[has_chip]\n,[num_cards_issued]\n,[credit_limit]\n,[acct_open_date]\n,[year_pin_last_changed]\n,[card_on_dark_web]\n FROM [financialdb].[dbo].[cards_data_transformed]\n\n\n--Count total cards\n\nSELECT COUNT(*) AS total_cards\nFROM [financialdb].[dbo].[cards_data_transformed];\n\n--Count unique customers\n\nSELECT COUNT(DISTINCT client_id) AS total_customers\nFROM [financialdb].[dbo].[cards_data_transformed];\n\n\n--Card distribution by brand\n\nSELECT card_brand, COUNT(*) AS total_cards\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY card_brand\nORDER BY total_cards DESC;\n\n\n--Card type breakdown\n\n\nSELECT card_type, COUNT(*) AS total_cards\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY card_type;\n\n\n--Cards with and without chip\n\nSELECT has_chip, COUNT(*) AS total_cards\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY has_chip;\n\n\n--Average credit limit by card type\n\nSELECT card_type,\n       AVG(credit_limit) AS avg_credit_limit\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY card_type;\n\n\n--Average credit limit by brand\n\nSELECT card_brand,\n       AVG(credit_limit) AS avg_credit_limit\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY card_brand\nORDER BY avg_credit_limit DESC;\n\n--Customers with multiple cards\n\n\nSELECT client_id,\n       COUNT(*) AS total_cards\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY client_id\nHAVING COUNT(*) > 1\nORDER BY total_cards DESC;\n\n--Credit limit distribution\n\nSELECT \n    MIN(credit_limit) AS min_limit,\n    MAX(credit_limit) AS max_limit,\n    AVG(credit_limit) AS avg_limit\nFROM [financialdb].[dbo].[cards_data_transformed];\n\n\n--Expired cards\n\nSELECT *\nFROM [financialdb].[dbo].[cards_data_transformed]\nWHERE expires < GETDATE();\n\n\n--Total credit exposure per customer\n\nSELECT client_id,\n       SUM(credit_limit) AS total_credit_exposure\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY client_id\nORDER BY total_credit_exposure DESC;\n\n\n--Customers with unusually high credit exposure\n\nSELECT client_id,\n       SUM(credit_limit) AS total_credit_exposure\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY client_id\nHAVING SUM(credit_limit) > 100000\nORDER BY total_credit_exposure DESC;\n\n\n--Customers with old PINs (security risk)\n\nSELECT *\nFROM [financialdb].[dbo].[cards_data_transformed]\nWHERE year_pin_last_changed < DATEADD(YEAR, -5, GETDATE());\n\n\n--Cards without chip and high credit limit\n\nSELECT *\nFROM [financialdb].[dbo].[cards_data_transformed]\nWHERE has_chip = 'NO'\n  AND credit_limit > 20000;\n\n\n--Dark web exposure analysis\n\nSELECT card_brand,\n       COUNT(*) AS dark_web_cases\nFROM [financialdb].[dbo].[cards_data_transformed]\nWHERE card_on_dark_web = 'Yes'\nGROUP BY card_brand;\n\n--Credit vs debit exposure comparison\n\nSELECT card_type,\n       SUM(credit_limit) AS total_exposure\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY card_type;\n\n\n--Customer tenure analysis\n\nSELECT client_id,\n       MIN(acct_open_date) AS first_account_date,\n       DATEDIFF(YEAR, MIN(acct_open_date), GETDATE()) AS customer_tenure_years\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY client_id\nORDER BY customer_tenure_years DESC;\n\n\n--High-credit customers with multiple cards\n\n\nSELECT client_id,\n       COUNT(*) AS card_count,\n       SUM(credit_limit) AS total_credit\nFROM [financialdb].[dbo].[cards_data_transformed]\nGROUP BY client_id\nHAVING COUNT(*) >= 3\n   AND SUM(credit_limit) > 50000\nORDER BY total_credit DESC;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "financialdb",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		}
	]
}